@font-face {
    font-family: Audiowide-Regular;
    src: url('../fonts/Audiowide-Regular.ttf');
}

:root{
    /* --black-100: #082032;
    --black-200: #2C394B;
    --black-300: #334756;
    --red-100: #FF4C29;
    --white-200: #F5F5F5;
    --greenish-yellow: #9ACD32;
    --lime: #BFFF00; */
    --black-100: #0f0f0f;
    --black-200: #3F0071;
    --black-300: #3F0071;
    --red-100: #FF4C29;
    --white-200: #F5F5F5;
    --greenish-yellow: #9ACD32;
    --lime: #BFFF00;
}

@font-face {
    font-family: Sarabun-Light;
    src: url('../fonts/Sarabun-Light.ttf');
}